In [46]:
import pandas as pd
import matplotlib.pyplot as plt

In [47]:
df_test = pd.read_csv('../DSML26/test.csv')
df_train = pd.read_csv('../DSML26/train.csv')

In [48]:
df_train.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [49]:
df_train['isCabin'] = 1 - df_train['Cabin'].isna().astype(int)
df_test['isCabin'] = 1 - df_test['Cabin'].isna().astype(int)

In [50]:
df_train.groupby('isCabin')['Survived'].mean()

isCabin
0    0.299854
1    0.666667
Name: Survived, dtype: float64

In [51]:
Survived_column =df_train['Survived']

In [52]:
df_train.groupby('Embarked')['Survived'].mean()

Embarked
C    0.553571
Q    0.389610
S    0.336957
Name: Survived, dtype: float64

# data info

In [53]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
 12  isCabin      891 non-null    int32
dtypes: float64(2), int32(1), int64(5), object(5)
memory usage: 87.1+ KB

# Missing Value

In [54]:
df_train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
isCabin          0
dtype: int64

In [55]:
df_train['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [56]:
df_train['Age'].fillna(value=df_train['Age'].median(), inplace = True)

In [57]:
df_train['Age'].median()

28.0

In [58]:
df_train['Embarked'].mode().iloc[0]

'S'

In [59]:
df_train['Embarked'].fillna(value=df_train['Embarked'].mode().iloc[0], inplace=True)

In [60]:
df_train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
isCabin          0
dtype: int64

In [61]:
df_test.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
isCabin          0
dtype: int64

In [62]:
df_test['Age'].fillna(value=df_train['Age'].median(), inplace=True)
df_test['Fare'].fillna(value=df_train['Fare'].median(), inplace=True)

In [63]:
df_test.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked         0
isCabin          0
dtype: int64

# Binning

In [64]:
df_train['Age_Cat'] = df_train['Age'].apply(lambda x:'child' if x<18 else 'young' if x<50 else 'old')
df_test['Age_Cat'] = df_test['Age'].apply(lambda x:'child' if x<18 else 'young' if x<50 else 'old')

In [65]:
df_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
isCabin          int32
Age_Cat         object
dtype: object

# Feature Encoding

In [66]:
df_train[['male','female']] = pd.get_dummies(df_train['Sex'])
df_test[['male','female']] = pd.get_dummies(df_test['Sex'])


df_train[['C','Q','S']] = pd.get_dummies(df_train['Embarked'])
df_test[['C','Q','S']] = pd.get_dummies(df_test['Embarked'])

In [67]:
df_train[['male','female']] = pd.get_dummies(df_train['Sex'])
df_test[['male','female']] = pd.get_dummies(df_test['Sex'])

In [68]:
df_train[['C','Q','S']] = pd.get_dummies(df_train['Embarked'])
df_test[['C','Q','S']] = pd.get_dummies(df_test['Embarked'])

In [69]:
df_train['Age_Cat'] = df_train['Age_Cat'].map({'child':0,'young':1,'old':2})
df_test['Age_Cat'] = df_test['Age_Cat'].map({'child':0,'young':1,'old':2})

In [70]:
df_train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'isCabin', 'Age_Cat',
       'male', 'female', 'C', 'Q', 'S'],
      dtype='object')

In [71]:
selected_columns = ['Pclass', 'SibSp','Parch', 'Fare', 'isCabin', 'female','C','Q','S']

# Feature Selection

# 1.random ForestClassifier

In [72]:
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestClassifier

In [73]:
rfe=RFE(RandomForestClassifier(),n_features_to_select=4,verbose=2)
rfe.fit(df_train[selected_columns],df_train['Survived'])

Fitting estimator with 9 features.
Fitting estimator with 8 features.
Fitting estimator with 7 features.
Fitting estimator with 6 features.
Fitting estimator with 5 features.

RFE(estimator=RandomForestClassifier(), n_features_to_select=4, verbose=2)

In [74]:
rfe.ranking_

array([1, 3, 1, 1, 2, 1, 5, 6, 4])

In [75]:
rfe_columns=['Pclass','SibSp','Fare','female']

In [76]:
from sklearn.ensemble import RandomForestClassifier

In [77]:
model=RandomForestClassifier()

In [78]:
model.fit(df_train[rfe_columns],df_train['Survived'])

RandomForestClassifier()

# Prediction

In [79]:
yp=model.predict(df_test[rfe_columns])

In [80]:
df_submit = pd.DataFrame({'PassengerId': df_test['PassengerId'], 'Survived': yp})

In [81]:
df_submit

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

# DecisionTree

In [85]:
from sklearn.tree import DecisionTreeClassifier

In [86]:
model1=DecisionTreeClassifier(max_depth=3,min_samples_leaf=4)
model1.fit(df_train[rfe_columns],df_train['Survived'])
yp=model1.predict(df_test[rfe_columns])
df_submit1 = pd.DataFrame({'PassengerId':df_test['PassengerId'],'Survived':yp})
df_submit.to_csv('sub10.csv',index=False)

In [87]:
df_submit1

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

# SVC

In [2]:
from sklearn.svm import SVC
from sklearn.feature_selection import RFE
from sklearn.datasets import make_classification

In [85]:
SVC_columns=['Pclass','SibSp','Fare','female']

In [86]:
model2 = SVC(kernel='linear', C=1.0, random_state=42)
model2.fit(df_train[SVC_columns], df_train['Survived'])

SVC(kernel='linear', random_state=42)

In [87]:
yp = model2.predict(df_test[rfe_columns])

In [89]:
df_submit.to_csv('sub15.csv', index=False)

In [94]:
from sklearn.linear_model import LogisticRegression
model2 = LogisticRegression()

In [95]:
model2.fit(df_train[rfe_columns], df_train['Survived'])

LogisticRegression()

# Make Prediction

In [39]:
from sklearn.svm import SVC
model2 = SVC(kernel='linear', C=1.0, random_state=42)
model2.fit(df_train[rfe_columns], df_train['Survived'])
yp = model2.predict(df_test[rfe_columns])
df_submit = pd.DataFrame({'PassengerId': df_test['PassengerId'], 'Survived': yp})
df_submit.to_csv('sub11.csv', index=False)

In [91]:
yp = model.predict(df_test[SVC_columns])

In [92]:
df_submit = pd.DataFrame({'PassengerId':df_test['PassengerId'],'Survived':yp})

In [93]:
df_submit

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [37]:
df_submit.to_csv('sub9.csv',index=False)

In [38]:
df_submit

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [40]:
df_submit

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [41]:
df_submit

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [43]:
df_submit

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [44]:
from sklearn.ensemble import GradientBoostingClassifier
model2 = GradientBoostingClassifier(n_estimators=100, learning_rate=0.1, max_depth=3, random_state=42)
model2.fit(df_train[rfe_columns], df_train['Survived'])
yp = model2.predict(df_test[rfe_columns])
df_submit = pd.DataFrame({'PassengerId': df_test['PassengerId'], 'Survived': yp})
df_submit.to_csv('sub11.csv', index=False)

In [45]:
df_submit

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [48]:
from sklearn.linear_model import LogisticRegression
model2 = LogisticRegression()
model2.fit(df_train[rfe_columns], df_train['Survived'])
yp = model2.predict(df_test[rfe_columns])
df_submit = pd.DataFrame({'PassengerId': df_test['PassengerId'], 'Survived': yp})
df_submit.to_csv('sub12.csv', index=False)

In [49]:
df_submit

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [50]:
from sklearn.naive_bayes import GaussianNB
model2 = GaussianNB()
model2.fit(df_train[rfe_columns], df_train['Survived'])
yp = model2.predict(df_test[rfe_columns])
df_submit = pd.DataFrame({'PassengerId': df_test['PassengerId'], 'Survived': yp})
df_submit.to_csv('sub11.csv', index=False)

In [51]:
df_submit

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [52]:
from sklearn.neighbors import KNeighborsClassifier
model2 = KNeighborsClassifier(n_neighbors=5)
model2.fit(df_train[rfe_columns], df_train['Survived'])
yp = model2.predict(df_test[rfe_columns])
df_submit = pd.DataFrame({'PassengerId': df_test['PassengerId'], 'Survived': yp})
df_submit.to_csv('sub11.csv', index=False)

In [53]:
df_submit

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [54]:
from sklearn.naive_bayes import MultinomialNB
model2 = MultinomialNB()
model2.fit(df_train[rfe_columns], df_train['Survived'])
yp = model2.predict(df_test[rfe_columns])
df_submit = pd.DataFrame({'PassengerId': df_test['PassengerId'], 'Survived': yp})
df_submit.to_csv('sub14.csv', index=False)